<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuxiao.usercar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.kuxiao.usercar" >
    </instrumentation>

    <application
        android:name="com.kuxiao.usercar.commom.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.kuxiao.usercar.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kuxiao.usercar.NavigationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.kuxiao.usercar.MeActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
            <activity
            android:name="com.kuxiao.usercar.ZiXunActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.kuxiao.usercar.SelectPointActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.kuxiao.usercar.test.RoutePlanText"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.kuxiao.usercar.NaviRuningActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.kuxiao.usercar.WelcomeAcitivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.kuxiao.usercar.UserCarAcitivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service android:name="com.kuxiao.usercar.service.UserCarService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="com.kuxiao.usercar.db.PointContentProvider"
            android:authorities="com.kuxiao.usercar.db.PointContentProvider" >
        </provider>
        <provider
            android:name="com.kuxiao.usercar.db.PathContentProvider"
            android:authorities="com.kuxiao.usercar.db.PathContentProvider" >
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="91skfUOGchGGNwFNyXHCYGa36yBV04p5" />
    </application>

</manifest>